h1, h3 {
    text-align: center;
}
form {
    text-align: center;
}
input {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.mainmenu {
    width: 100px;
}

input.ttt {
    text-align: center;
    margin-top: 30px;
    width: 150px;
    height: 60px;
}
.score {
    float: right;
}